@page
@model CarApp.Pages.Car.Create
@{
    ViewData["Title"] = "Add New Car";
    Layout = "Shared/_Layout";
}

<div class="container mt-4">
    <h2>Add New Car</h2>
    <form method="post" asp-page-handler="Create">
        <div class="mb-3">
            <label for="Name" class="form-label">Car Name</label>
            <input type="text" id="Name" name="Car.Name" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="MakeId" class="form-label">Mark Id</label>
            <input type="text" id="MakeId" name="Car.MarkId" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-page="/Car/Index" class="btn btn-secondary ms-2">Cancel</a>
    </form>
</div>